* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url(./img.svg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  padding: 50px 200px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header h1 {
  color: #ffffff;
}

.navigation {
  display: flex;
  gap: 15px;
}
.menu {
  width: 80px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30%;
  color: #ffffff;
  background: #00c9e0;
}
.main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main h1 {
  color: #ffffff;
  font-size: 70px;
}
.main p {
  color: #ffffff;
  text-align: center;
  width: 400px;
  font-size: 10px;
}

.scrool {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.scr {
  transform: rotate(180deg);
  flex-direction: row-reverse;
}

.scrool p {
  color: #ffffff;
  width: 5px;
  height: 30x;
  display: flex;
  transform: rotate(90deg);
}
