@font-face {
  font-family: "raleway";
  src: url(./Raleway-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "raleway";
}
.container {
  width: 100%;
  height: 100%;
  background-image: url(./first-image/img.svg);
  background-size: cover;
}

.header-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 200px;
}

.navigation {
  display: flex;
  gap: 15px;
}
.menu {
  width: 80px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30%;
  background: #00c9e0;
}
.main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main h1 {
  font-family: "Playfair";
  font-size: 70px;
}
.main p {
  text-align: center;
  width: 400px;
  font-size: 10px;
  font-family: "raleway";
}

.scrool {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  padding: 5px 200px;
}
.scr {
  transform: rotate(180deg);
  flex-direction: row-reverse;
}

.scrool p {
  width: 5px;
  height: 30x;
  display: flex;
  transform: rotate(90deg);
}
.foot {
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(1, 22, 39, 0.8),
    #011627
  );
}

.second-page {
  background-color: #011627;
  background-image: url(./second-images/backgroun-img.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 200px;

  align-items: center;
  gap: 30px;
}
.header h1 {
  font-size: 30px;
  font-family: "Anton";
}
.zagolovok {
  border-bottom: 1px solid #41ead4;
  display: flex;
  padding-left: 20px;
  justify-content: space-around;
  width: 80%;
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 50px;
}
.inform {
  /* border: 2px solid black; */
  grid-column: 1 / span 1;
  margin-left: 200px;
  margin-top: 50px;
  z-index: 1;
  font-weight: bold;
  font-family: "Inter";
}

.dots {
  position: relative;
  top: -155px;
  left: -35px;
  z-index: -1;
}
.vector {
  width: 50px;
  height: 50px;
  position: relative;
  top: -205px;
  left: 143px;
  background-color: #011627;
  /* box-shadow: ; */
}
.line {
  position: relative;
  top: -300px;
  right: 460px;
}
.grand {
  position: relative;
  top: -285px;
  left: -60px;
}
.Chill-Adventure {
  width: 400px;
  height: 700px;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 100px;
  position: relative;
  top: 100px;
  left: 60px;
}
.Chill-Adventure h1 {
  font-size: 50px;
}
.offer {
  background-color: #00c9e0;
  position: relative;
  left: 5px;
  width: 200px;
  height: 50px;
  border-radius: 183px;
}

.second-social {
  width: 100px;
  height: 100px;
  position: relative;
  left: 400px;
}
.share-it {
  width: 80px;
  position: relative;
  left: 400px;
  top: 50px;
}
.line-2 {
  transform: rotate(180deg);
  position: relative;
  left: 115px;
  top: -90px;
}

.third-page {
  display: flex;
  background-color: #011627;
  background-image: url(./second-images/backgroun-img.svg),
    url(./third-images/backgroun-img.svg);
  background-size: 100%;
  position: relative;
  flex-wrap: wrap;
  padding: 50px;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
}

.first {
  width: 290px;
  height: 600px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.first h1 {
  font-size: 50px;
}

.second {
  height: 100%;
  /* border: 2px solid black; */
  max-width: 800px;
  max-height: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 200px;
}

.second img {
  width: 45%;
}

.martin-jack {
  display: none;
}

.dots-3 {
  display: flex;
  width: 6%;
  position: relative;
  right: 80px;
  top: 100px;
}

.read-more {
  background-color: #00c9e0;
  position: relative;
  bottom: 0px;
  left: 5px;
  width: 200px;
  height: 50px;
  border-radius: 183px;
}

.four-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(1, 22, 39, 1),
    #011627
  );
}
.fon {
  width: 90%;
  background-color: #011627;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 150px;
}
.header-4 {
  padding-top: 50px;
  width: 100%;
  text-align: center;
}
.testimonials {
  width: 100%;

  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-content: center;
  justify-content: center;
}
.testimonial {
  background: #02223b;
  width: 450px;
  height: 450px;
  padding: 40px;
  font-size: 18px;
  line-height: 30px;
}
.testimonial p {
  position: relative;
  left: 45px;
  bottom: 30px;
  width: 300px;
}
.girl {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  position: relative;
  left: 45px;
  top: -15px;
}
.girl p {
  position: relative;
  left: 15px;
  bottom: -13px;
  font-size: 15px;
}

.see-u {
  height: 100%;
  width: 100%;
  text-align: center;
}
.see-u h2 {
  padding-top: 250px;
  font-size: 50px;
}
.line-4 {
  height: 100%;
  padding-top: 80px;

  background: #011627;
  text-align: center;
}

.footer {
  width: 100%;
  background-color: #011627;
  display: flex;
  justify-content: space-evenly;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Events {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.follow {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Copyright {
  width: 100%;
  height: 200px;
  background: #011627;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 556px) {
  .container,
  .second-page,
  .third-page,
  .four-page,
  .footer,
  .Copyright {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .header-1 h1,
  .scr {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    left: -100px;
  }
  .main p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .scr p {
    width: 1px;
    position: absolute;
    bottom: -10px;
  }
  .navigation {
    display: flex;
    position: relative;
    right: -40px;
  }
  .soc-icon1 {
    display: flex;
    position: relative;
    right: -100px;
    top: -35px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 10px;
  }
  .header p {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .header span {
    display: none;
  }
  .inform img {
    width: 100%;
    position: relative;
    right: 150px;
  }

  .line {
    display: flex;
    position: relative;
    top: -100px;
    left: -200px;
    width: 5px;
    height: 8px;
  }
  .grand {
    display: flex;
    position: relative;
    font-size: 10px;
    top: -95px;
    left: -160px;
  }
  .vector {
    display: none;
  }
  .vector img {
    display: none;
  }
  .zagolovok {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .dots {
    position: relative;
    top: -185px;
    left: -180px;
    width: 5%;
  }
  .Chill-Adventure {
    position: relative;
    top: -80px;
    left: 15px;
    width: 100%;
    height: 100%;
  }
  .Chill-Adventure h1 {
    width: 200px;
  }
  .Chill-Adventure p {
    width: 70%;
    font-size: 30px;
  }
  .offer {
    position: relative;
    bottom: -80px;
    width: 300px;
    height: 90px;
    border-radius: 183px;
    font-size: 20px;
  }

  .second-social {
    position: relative;
    top: 130px;
    left: 150px;
  }
  .share-it {
    font-size: 5px;
    display: flex;
    position: relative;
    top: 200px;
    left: 140px;
  }
  .line-2 {
    width: 350px;
    position: relative;
    left: -90px;
    top: 30px;
  }
  .third-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .first {
    font-size: 30px;
    position: relative;
    left: 15px;
    display: flex;
    gap: 20px;
  }
  .read-more {
    /* top: -30px; */
    display: block;
    width: 250px;
    height: 80px;
    font-size: 20px;
    position: absolute;
    bottom: -200px;
  }
  .second {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    left: 15px;
    top: 150px;
    padding-top: 100px;
  }

  .martin-jack {
    display: none;
  }
  .dots-3 {
    display: none;
  }
  .fon {
    width: 100%;
    display: block;
    position: relative;
    top: 0;
  }
  .testimonials {
    width: 100%;
    display: flex;
    position: relative;
    top: -100px;
    height: 100%;
  }
  .testimonial {
    height: 100%;
    position: relative;
    width: 90%;
    padding: 5px;
  }
  .testimonial p {
    width: 70%;
  }
  .girl p {
    width: 50%;
  }
  .see-u,
  .line-4 {
    position: relative;
    top: -150px;
    height: 100%;
  }
  .footer {
    padding: 10px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  .Copyright {
    display: flex;
  }
}
