@font-face {
  font-family: "raleway";
  src: url(./Raleway-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "raleway";
}
.container {
  width: 100%;
  height: 100%;
  background-image: url(./first-image/img.svg);
  background-size: cover;
}

.header-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 200px;
}

.navigation {
  display: flex;
  gap: 15px;
}
.menu {
  width: 80px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30%;
  background: #00c9e0;
}
.main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main h1 {
  font-family: "Playfair";
  font-size: 70px;
}
.main p {
  text-align: center;
  width: 400px;
  font-size: 10px;
  font-family: "raleway";
}

.scrool {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  padding: 5px 200px;
}
.scr {
  transform: rotate(180deg);
  flex-direction: row-reverse;
}

.scrool p {
  width: 5px;
  height: 30x;
  display: flex;
  transform: rotate(90deg);
}
.foot {
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(1, 22, 39, 0.8),
    #011627
  );
}

.second-page {
  background-color: #011627;
  background-image: url(./second-images/backgroun-img.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 50px 600px 200px;
  gap: 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-column: 1 / span 2;
}
.header h1 {
  font-size: 30px;
  font-family: "Anton";
}
.zagolovok {
  grid-column: 1 / span 3;
  border-bottom: 1px solid #41ead4;
  display: flex;
  padding-left: 20px;
  justify-content: space-around;
  align-items: center;
  margin-right: 200px;
  margin-left: 200px;
}
.inform {
  /* border: 2px solid black; */
  grid-column: 1 / span 1;
  margin-left: 200px;
  margin-top: 50px;
  z-index: 1;
  font-weight: bold;
  font-family: "Inter";
}

.dots {
  position: relative;
  top: -175px;
  left: -35px;
  z-index: -1;
}
.vector {
  width: 50px;
  height: 50px;
  position: relative;
  top: -224px;
  left: 143px;
  background-color: #011627;
  /* box-shadow: ; */
}
.line {
  position: relative;
  top: -300px;
  left: -60px;
}
.grand {
  position: relative;
  top: -285px;
  left: -60px;
}
.Chill-Adventure {
  width: 400px;
  height: 700px;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 100px;
  position: relative;
  top: 100px;
  left: 60px;
}
.Chill-Adventure h1 {
  font-size: 50px;
}
.offer {
  background-color: #00c9e0;
  position: relative;
  left: 5px;
  width: 200px;
  height: 50px;
  border-radius: 183px;
}

.second-social {
  width: 100px;
  height: 100px;
  position: relative;
  left: 400px;
}
.share-it {
  width: 100px;
  position: relative;
  left: 400px;
  top: 50px;
}
.line-2 {
  transform: rotate(180deg);
  position: relative;
  left: 115px;
  top: -90px;
}

.third-page {
  display: grid;
  background-color: #011627;
  background-image: url(./second-images/backgroun-img.svg),
    url(./third-images/backgroun-img.svg);
  background-size: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px 500px;
  position: relative;
}

.first {
  width: 290px;
  height: 600px;
  grid-column: 1 / span 1;
  /* border: 2px solid black; */
  position: absolute;
  left: 200px;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.first h1 {
  font-size: 50px;
}
.first p {
  font-family: "Gowun";
}
.second {
  grid-column: 2 / span 2;
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
  position: absolute;
  left: -150px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.second img {
  width: 50%;
}

.martin-jack {
  position: absolute;
  left: 320px;
  top: 200px;
  z-index: 1;
}
.dots-3 {
  position: absolute;
  right: 70px;
  top: 200px;
}
.read-more {
  background-color: #00c9e0;
  position: absolute;
  /* top: 350px; */
  bottom: 170px;
  left: 5px;
  width: 200px;
  height: 50px;
  border-radius: 183px;
}

.four-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(1, 22, 39, 1),
    #011627
  );
}
.fon {
  width: 90%;
  background-color: #011627;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 150px;
}
.header-4 {
  padding-top: 50px;
  width: 100%;
  text-align: center;
}
.testimonials {
  width: 100%;
  height: 800px;
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-content: center;
  justify-content: center;
}
.testimonial {
  background: #02223b;
  width: 450px;
  height: 450px;
  padding: 40px;
  font-size: 18px;
  line-height: 30px;
}
.testimonial p {
  position: relative;
  left: 45px;
  bottom: 30px;
  width: 300px;
}
.girl {
  padding-top: 10px;
  display: flex;
  gap: 10px;
  position: relative;
  left: 45px;
  top: -15px;
}
.girl p {
  position: relative;
  left: 15px;
  bottom: -13px;
  font-size: 15px;
}
.see-u {
  width: 100%;
  text-align: center;
}
.see-u h2 {
  padding-top: 250px;
  font-size: 50px;
}
.line-4 {
  padding-top: 80px;
  width: 100%;
  background: #011627;
  text-align: center;
}
.footer {
  width: 100%;
  background-color: #011627;
  display: flex;
  justify-content: space-evenly;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faq {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Events {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.follow {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Copyright {
  width: 100%;
  height: 200px;
  background: #011627;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .second-page {
    width: 1200px;
  }
  .container {
    width: 1200px;
  }
  .third-page {
    width: 1200px;
  }
}
